name: build

on:
  pull_request:
  push:
    branches:
    - main

permissions:
  contents: read # for actions/checkout to fetch code

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
    - name: Setup QEMU
      uses: docker/setup-qemu-action@2b82ce82d56a2a04d2637cd93a637ae1b359c0a7 # v2.2.0
    - name: Setup Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@4c0219f9ac95b02789c1075625400b2acbff50b1 # v2.9.1
    - name: Cache Docker layers
      uses: actions/cache@88522ab9f39a2ea568f7027eddc7d8d8bc9d59c8 # v3.3.1
      id: cache
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-buildx-ghcache-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-buildx-ghcache-
    - name: Setup Go
      uses: actions/setup-go@93397bea11091df50f3d7e59dc26a7711a8bcfbe # v4.1.0
      with:
        go-version: 1.20.x
        cache-dependency-path: |
          **/go.sum
          **/go.mod
    - name: Run tests
      run: make test
    - name: Check if working tree is dirty
      run: |
        if [[ $(git diff --stat) != '' ]]; then
          git --no-pager diff
          echo 'run make test and commit changes'
          exit 1
        fi
    - name: Build container image
      run: |
        make docker-build IMG=ghcr.io/fluxcd/${{ github.event.repository.name }}:latest \
          BUILD_PLATFORMS=linux/amd64 \
          BUILD_ARGS="--cache-from=type=local,src=/tmp/.buildx-cache \
            --cache-to=type=local,dest=/tmp/.buildx-cache-new,mode=max"
    - # Temp fix
      # https://github.com/docker/build-push-action/issues/252
      # https://github.com/moby/buildkit/issues/1896
      name: Move cache
      run: |
        rm -rf /tmp/.buildx-cache
        mv /tmp/.buildx-cache-new /tmp/.buildx-cache
