name: build
on:
  pull_request:
  push:
    branches:
    - 'main'
    - 'release/**'
jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read # for reading the repository code.
    steps:
      - name: Test suite setup
        uses: fluxcd/gha-workflows/.github/actions/setup-kubernetes@v0.5.0
        with:
          go-version: 1.25.x
      - name: Run tests
        run: make test
      - name: Check if working tree is dirty
        run: |
          if [[ $(git diff --stat) != '' ]]; then
            git --no-pager diff
            echo 'run make test and commit changes'
            exit 1
          fi
      - name: Build container image
        run: |
          make docker-build IMG=ghcr.io/fluxcd/${{ github.event.repository.name }}:latest \
            BUILD_PLATFORMS=linux/amd64
